.button {
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 50rem;
  border: none;
  color: var(--clr-white);
  background-color: var(--clr-primary-color-blue);
  box-shadow: 5px 5px 10px var(--clr-primary-color-blue-shadow);
}