// Colors
$colors: (
  // Main Colors
        primary-color: (
                'blue': hsl(223, 87%, 63%),
                'blue-shadow': hsla(223, 87%, 63%, 0.40),
        ),
        secondary-color: (
                'pale-blue': hsl(223, 100%, 88%),
                'light-red': hsl(354, 100%, 66%),
                'light-green': hsl(140, 62%, 48%),
        ),
        neutral-color: (
                'gray': hsl(0, 0%, 59%),
                'very-dark-blue': hsl(209, 33%, 12%),
        ),
  // Other
        'background': hsl(0, 0%, 100%),
        'white': hsl(0, 0%, 100%),
        'black': hsl(0, 0%, 0%),
);